@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");

.display-bloc {
  display: inline-block;
  background-color: rgb(245, 220, 188);
  margin-top: 100px;
  width: 350px;
  border-radius: 10px;
}

.digits {
  font-size: 5em;
  font-weight: bold;
}

.digits-description {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  border-bottom: 2px solid rgb(4, 0, 255);
  border-top: 2px solid rgb(4, 0, 255);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-style: italic;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
